body {
  min-width: 320px;
  max-width: 540px;
  margin: 0 auto;
  background-color: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  /* height: 3000px; */
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.search-box {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 44px;
  min-width: 320px;
  max-width: 540px;
  background-color: #fff;
  z-index: 999;
}

.search {
  flex: 1;
}
.user {
  width: 54px;
  /* background-color: tomato; */
  color: black;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
.user::before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: url(../images/user.png) no-repeat -0.5px -78.5px;
  background-size: 21px auto;
  margin: 5px auto 0;
}
.search {
  position: relative;
  height: 28px;
  margin: 8px 6px 8px 12px;
  background-color: #ececed;
  border-radius: 14px;
  line-height: 28px;
  font-size: 16px;
  color: #757575;
  padding-left: 32px;
}
.search::before {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background: url(../images/user.png) no-repeat -0.5px -0.5px;
  background-size: 21px auto;
  margin: 7px 10px 7px;
}
.focus {
  height: 250px;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  margin-top: -20px;
}
.focus img {
  width: 100%;
}
.local-nav {
  display: flex;
  position: relative;
  height: 64px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: -30px;
  /* z-index: 999; */
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
.local-nav li {
  flex: 1;
  font-size: 12px;
  color: #222;
}
.local-nav li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 6px;
}
.local-nav li:nth-child(1) .local-nav-img {
  background: url("../images/local-nav.png") no-repeat -7px -7px;
  background-size: 40px 200px;
  width: 26px;
  height: 29px;
  margin-top: 10px;
}
.local-nav li:nth-child(2) .local-nav-img {
  background: url("../images/local-nav.png") no-repeat -2px -48px;
  background-size: 40px 200px;
  width: 35px;
  height: 27px;
  margin-top: 10px;
}
.local-nav li:nth-child(3) .local-nav-img {
  background: url("../images/local-nav.png") no-repeat -3px -85px;
  background-size: 40px 200px;
  width: 33px;
  height: 33px;
  margin-top: 10px;
}
.local-nav li:nth-child(4) .local-nav-img {
  background: url("../images/local-nav.png") no-repeat -3px -128px;
  background-size: 40px 200px;
  width: 34px;
  height: 28px;
  margin-top: 10px;
}
.local-nav li:nth-child(5) .local-nav-img {
  background: url("../images/local-nav.png") no-repeat -3px -164px;
  background-size: 40px 200px;
  width: 33px;
  height: 36px;
  margin-top: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 196px;
  margin: 0 10px;
  border-radius: 10px;
  margin-top: 10px;
  /* background-color: orange; */
  color: #fff;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
}
.nav a {
  color: #fff;
}
.nav [class^="nav-common"] {
  flex: 1;
  line-height: 65px;
  /* box-sizing: border-box; */
}
.nav-common2:nth-child(2) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.nav-common1 {
  display: flex;
}
.nav-common1 .nav-items:nth-child(1) {
  flex: 0 1 31%;
  border-right: 1px solid #fff;
}
.nav-common1 .nav-items:nth-child(2) {
  flex: 0 1 23%;
  border-right: 1px solid #fff;
}
.nav-common1 .nav-items:nth-child(3) {
  flex: 1;
}
.nav-common2 {
  display: flex;
}
.nav-common2 .nav-items:nth-child(-n + 3) {
  border-right: 1px solid #fff;
}
.nav-common2 .nav-items:nth-child(1) {
  flex: 0 1 31%;
}
.nav-common2 .nav-items:nth-child(n + 2) {
  flex: 1;
}

.nav-common1 .nav-items:nth-child(1) {
  background: url(../images/hotal1.png) no-repeat right bottom;
  background-size: 74px auto;
  text-align: left;
  padding-left: 12px;
}
.nav-common1 .nav-items:nth-child(2) {
  background: url(../images/hotal2.png) no-repeat left bottom;
  background-size: 37px auto;
}
.nav-common1 .nav-items:nth-child(3) {
  background: url(../images/price.png) no-repeat left bottom,
    -webkit-linear-gradient(left, #ffbc49, #ffd252);
  background-size: 241.5px auto;
}
.nav-common2:nth-child(2) .nav-items:nth-child(1) {
  background: url(../images/air1.png) no-repeat right bottom;
  background-size: 79.5px auto;
  text-align: left;
  padding-left: 12px;
}
.nav-common2:nth-child(2) .nav-items:nth-child(2) {
  background: url(../images/air2.png) no-repeat left bottom;
  background-size: 37px auto;
}
.nav-common2:nth-child(3) .nav-items:nth-child(1) {
  background: url(../images/travel1.png) no-repeat right bottom;
  background-size: 93.5px auto;
  text-align: left;
  padding-left: 12px;
}
.nav-common2:nth-child(3) .nav-items:nth-child(2) {
  background: url(../images/travel2.png) no-repeat left bottom;
  background-size: 61px auto;
}

/* 设置渐变的背景色： */
.nav-common1 {
  background: linear-gradient(to right, #fa5956, #fb8650 54%);
}
.nav-common1 .nav-items:nth-child(3) span {
  /* background: url(../images/price.png) no-repeat left bottom;
  background-size: 241.5px auto; */
  /* background: -webkit-linear-gradient(left, #ffbc49, #ffd252); */
}
.nav-common2:nth-child(2) {
  background: -webkit-linear-gradient(left, #4b8fed, #53bced);
}
.nav-common2:nth-child(3) {
  background: -webkit-linear-gradient(left, #35c2aa, #6bd557);
}
.activity {
  height: 160px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 10px;
}
.activity-head {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #f2f2f2;
}
.activity-head h3 {
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  font-size: 0px;
}
.activity-head h3::before {
  display: block;
  content: "";
  background: url("../images/activity.png") no-repeat 0 -20px;
  background-size: 79px 58px;
  width: 73px;
  height: 15px;
  margin: 16px 8px;
}
.activity-head a {
  display: block;
  position: absolute;
  right: 0;
  /* line-height: 44px; */
  margin: 10px 8px;
  background: linear-gradient(to right, #ff5065, #ff6eca);
  padding: 4px 20px 4px 10px;
  border-radius: 8px;
  font-size: 12px;
  color: #fff;
}
.activity-head a::after {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 7px;
  height: 7px;
  content: "";
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.activity .ad {
  display: flex;
}
.activity .ad a {
  flex: 1;
}
.activity .ad a img {
  width: 100%;
}
